<!-- TEMPLATE FROM: https://www.tailwindtoolbox.com/templates/minimal-blog -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>dwmbt</title>
		<meta name="author" content="name" />
		<meta name="description" content="this is the blog post page" />
		<meta name="keywords" content="dwmbt, blog, very cool guy"/>
        <link href="/styles/global.css" rel="stylesheet"/>
	</head>
	<body class="">
		<div class="">
			<div>
				<div class="">
					<h1
						class=""
					>
						<!-- TITLE -->
					</h1>
				</div>

				<!-- CONTENT -->
			</div>

		</div>
	</body>
</html>