<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= page.title %></title>
  <meta name="description" content="<%= page.description %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<section class="page-header">
  <h1 class="project-name"><%= page.title %></h1>
</section>

<section class="main-content">
  <%- body %>

  <footer class="site-footer">
    dwmbt
  </footer>
</section>
</body>
</html>